{% extends 'core/base.html' %}

{% block title %}Password Reset Sent - Chatterbox{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h4>Password Reset Sent</h4>
            </div>
            <div class="card-body">
                <p>We've emailed you instructions for setting your password. If an account exists with the email you entered, you should receive them shortly.</p>
                <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
                <div class="text-center">
                    <a href="{% url 'home' %}" class="btn btn-primary">Return to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}